  .btn-large {
    width: 135px;
    height: 100px;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .btn-large i {
    font-size: larger;
  }

